[Desktop Entry]
Type=Application
Icon=harbour-elzzup
Exec=harbour-elzzup
Name=ElzzUP
Name[de]=ElzzUP

[X-Sailjail]
Sandboxing=Enabled
Permissions=UserDirs;MediaIndexing;RemovableMedia
OrganizationName=openrepos.net
ApplicationName=ElzzUP
