[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-elzzup
Exec=harbour-elzzup
Name=Elzzup

[X-Sailjail]
Sandboxing=Enabled
Permissions=UserDirs;MediaIndexing;RemovableMedia
OrganizationName=harbour-elzzup
ApplicationName=harbour-elzzup
